/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4%;
  line-height: 1;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1261px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 33px;
}

.orange-line {
  border-bottom: 4px solid orange;
}
.shadow-border {
  border: 4px solid rgba(0, 0, 0, 0.1);
}

/* HEADER START */
.header {
  background-image: url(../images/coffe-top.svg),
    url(../images/coffe-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-color: #f6ebda;
  padding-bottom: 396px;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 46px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sitenav-link {
  color: #000000;
}
.sitenav-link:hover {
  color: #ff902b;
}
.header-nav-container-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.global-search {
  box-shadow: 6px 2px 24px 0px #00000021;
  border-radius: 35px;
}
.global-search-input {
  padding: 8px 12px 8px 34px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center left 14px;
  border: 0;
  border-radius: 35px;
}
.global-search-input {
  outline: none;
}
/* HEADER END */

/* HEADER-HERO  */
.header-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-hero-content {
  width: 100%;
  max-width: 489px;
}
.header-hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 24px;
}
.orange-text {
  color: #ff902b;
}
.header-hero-descp {
  line-height: 140%;
  color: #7e7d7a;
  margin-bottom: 32px;
}
.header-hero-btns {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header-hero-btn {
  display: flex;
  align-items: center;
  background-color: #2f2105;
  color: #fff;
  gap: 10px;
}
.header-hero-btn-outline {
  color: #ff902b;
}

.header-hero-btn:hover {
  opacity: 0.8;
}
.header-hero-btn-outline:hover {
  color: #2f2105;
}

/* .header-hero-image {
} */

/* MAIN  */

/* POPULAR START */

.popular-now-container {
  background-image: url(../images/popular-now-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 87px;
  margin-top: -225px;
  margin-bottom: 120px;
}
.popular-title {
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  vertical-align: middle;

  margin-bottom: 32px;
}

.popalr-now-list {
  display: flex;
  gap: 38px;
}
.popular-now-item {
  border-radius: 12px;
  backdrop-filter: blur(4px);
  padding: 24px 18px;
  box-shadow: 10px 10px 32px 0px #00000040;
  background-color: #ffffff;
}
.popular-now-image-wrapper {
  position: relative;
  margin-bottom: 19px;
}
.popular-now-image {
  border-radius: 12px;
}
.popular-now-rating {
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 7px;
  color: #2f2105;
  padding: 6px 10px;
  border-radius: 50px;
}

.popular-now-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-now-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.popular-now-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #000000;
}

.popular-now-item-orderer {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
}
.popular-now-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-types {
  display: flex;
  gap: 24px;
}
.popular-types-hot {
  border-radius: 8px;
  gap: 10px;
  border: 2px solid #ffd28f;
  padding: 10px;
  color: #ffd28f;
}
.popular-types-cold {
  border-radius: 8px;
  gap: 10px;
  border: 2px solid #ffd28f;
  padding: 10px;
  color: #ffd28f;
}
/* POPULAR END */

/* SERVICE START */
.service {
  margin-bottom: 189px;
}
/* .service-contaier {
} */

.service-title {
  margin-bottom: 32px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 4%;
  vertical-align: middle;
}

.service-list {
  display: flex;
  justify-content: space-between;
}
.service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px 24px;
  gap: 17px;
}
/* .service-image {
} */
.service-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
  color: #2f2105;
}
.service-item-text {
  text-align: center;
  vertical-align: middle;
  color: #2f2105;
}

/* SERVICE END  */

/* ABOUT US START */
.about-us {
  width: 100%;
  height: 484px;
  margin-bottom: 120px;
  background-image: url(../images/about-bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-image {
  position: relative;
  margin-left: 107px;
  bottom: 69px;
  width: 359.13px;
  height: 497.66px;
  box-shadow: 0px 6px 16px 0px #00000029;
  border-radius: 12px;
  margin-bottom: 62.78px;
}
.about-us-content {
  width: 100%;
  max-width: 478px;
}
.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  vertical-align: middle;
  margin-bottom: 23.75px;
  color: #000000;
}
.about-us-suptitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  vertical-align: middle;
  margin-bottom: 15.72px;
  color: #000000;
}
.about-us-desc {
  line-height: 140%;
  color: #7e7d7a;
  margin-bottom: 31.64px;
}

.about-us-btn {
  border-radius: 33px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  gap: 10px;
  background-color: #2f2105;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f4ae26;
}
.about-us-btn:hover {
  opacity: 0.6;
}
/* ABOUT US END  */

/* MENU START */
.menu-container {
  margin-bottom: 120px;
}

.menu-title {
  font-weight: 600;
  font-size: 32px;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 31.83px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.menu-item {
  border-radius: 12px;
  backdrop-filter: blur(4px);
  padding: 24px 18px;
  box-shadow: 10px 10px 32px 0px #00000040;
  background-color: #ffffff;
}
.menu-image-wrapper {
  position: relative;
  margin-bottom: 19px;
}
.menu-rating {
  position: absolute;
  top: 10px;
  left: 7px;
  padding: 4px 10px;
  border-radius: 50px;
  background-color: #fff;
}
.menu-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.menu-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4%;
  vertical-align: middle;
}
.menu-item-ordered {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
}
.menu-type {
  display: flex;
  justify-content: space-between;
}
.menu-text {
  width: 161.45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  vertical-align: middle;
  color: #7e7d7a;
}
/* MENU END */

/* REVIEWS START */
.reviews {
}
.reviews-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/reviews-bg-image.png);
  background-repeat: no-repeat;
  background-position: left;
}

.reviews-content {
}
.reviews-title {
  font-weight: 600;
  font-size: 32px;
  vertical-align: middle;
  margin-bottom: 16px;
}
.reviews-text {
  width: 352px;
  color: #7e7d7a;
}
.reviews-list {
  display: flex;
  
}
.reviews-list-item {
}
.reviews-item-image {
  
}
.reviews-item-title {
  font-weight: 500;
  vertical-align: middle;
}
.reviews-item-text {
  width: 226.5px;
}
/* REVIEWS END  */
